<header>
    <nav>
        <a id='postLink' class="postLinkClose" href="/posts">Posts</a>
        <a id ='userLink' class="userLinkClose" href="/users">Users</a>

        <!-- <a  class="postLinkClose" href="/posts">Posts</a>
        <a  class="userLinkClose" href="/users">Users</a> -->
      <!-- <button id = "menuButton" class="menu" type="submit" onclick="menuClick()"></button> --> 
      <button id="menuButton" class="menu" type="submit"></button>
      <!-- <ul>
       <li> <a id='postLink' class="postLinkClose" href="/posts">Posts</a> </li>
        <li> <a id ='userLink' class="userLinkClose" href="/users">Users</a> </li>
      </ul> -->
    </nav>
</header>